/* .badge-container {
  
  display: inline-block;
} */

/* .badge-container {
  position: relative;
  width: 100%;
  display: flex; 
  align-items: center; 
  padding: 0.1em 0.2em; 
  border: 1px solid #FE9D1C;
  border-radius: 1.50em;
   
} */

/* .hover-text {
  visibility: hidden;
  width: 400px;
  height: 200px;
  color: black;
  text-align: justify;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 60%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.badge-container:hover .hover-text {
  visibility: visible;
  opacity: 1;
}


.badge {
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 1.50em;
  font-weight: 500;
  color: #FE9D1C;
  
}

.badge-image {
  background: black;
  height: 24px;
  width: 24px;
  border-radius: 60%;
  margin-left: 2px; 
  
} */

/* .hover-image {
  width: 250px; 
  height: 200px;
  margin-top: 10px; 
  background:black;
  border-radius: 6px;
  margin-left: 90px;
} */

.product-image {
  
  width: 100%; 
  height: auto;
  max-width: 260px; 
  max-height: 380px; 
  margin: auto;
}

.position-relative {
  position: relative;
}

.text-on-image {
  position: absolute;
  top: 80%;
  left: 10%;
  transform: translate(-50%, -50%);
  
}

.bg-custom {
  width: 30%; 
  height: auto; 
}


.sliding-text-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.sliding-text {
  /* display: inline-block; */
  animation: slide 15s linear infinite; 
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


.relative {
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.gallery-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.gray-background {
  background-color: gray;
}
