/* .slider-wrapper {
  width: 80%;
  max-height: 100vh;
  overflow: hidden;
} */

.slider-track {
  animation: slideVertical 900s linear infinite;
}

.slider-image {
  display: block;
  margin-bottom: 8px;
  margin-left: 8px;
}

@keyframes slideVertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-100% * 14));
  }
}
